[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

djzen = {extras = ["uwsgi"]}
djangorestframework = "*"
ipython = "*"
"suds-py3" = "*"
"boto3" = "*"
awscli = "*"
"psycopg2" = "*"
gunicorn = "*"
dj-database-url = "*"
postgres = "*"
django-filter = "*"
graphene = "*"
graphene-django = {git = "git://github.com/pizzapanther/graphene-django.git", editable = true}


[dev-packages]

